@use "variables.scss" as *;

body {
  background-color: #fff;
  position: relative;
}

.container {
  position: relative;
  padding: 1rem;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto-fit 1fr;
  justify-content: center;
}

h1 {
  grid-column: 1/ -1;
  text-align: center;
  align-self: center;
  font-size: 8rem;
}

.toDo_container {
  position: relative;
  grid-column: 2/-1;
  padding: 0 1rem;
  background-color: green;
}

.toDo_project_container {
  min-height: 4rem;
  padding: 1rem;
  margin: 1rem;
  background-color: aqua;
}

.toDo_edit_btn_img {
  width: 1rem;
  cursor: pointer;
  filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
}
