/* Color Theme Swatches in RGBA */
$Mode-1-rgba: rgba(241, 242, 239, 1);
$Mode-1_1-rgba: rgba(220, 220, 220, 1);
$Mode-1_2-rgba: rgba(200, 200, 200, 1);
$Mode-1_3-rgba: rgba(150, 150, 150, 1);
$Mode-2-rgba: rgba(213, 216, 114, 1);
$Mode-2-rgba: rgba(213, 216, 114, 1);
$Mode-3-rgba: rgba(242, 219, 152, 1);
$Mode-4-rgba: rgba(191, 134, 101, 1);
$Mode-5-rgba: rgba(140, 71, 46, 1);
$Mode-6-rgba: rgba(174, 42, 46, 1);

$gradient-bg: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0.9),
  rgba(0, 0, 0, 0.6)
);
