@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

button,
li,
a {
  all: unset;
}

/* Color Theme Swatches in RGBA */
body {
  background-color: rgb(241, 242, 239);
  position: relative;
}

.container {
  position: relative;
  padding: 1rem;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: start;
}

h1 {
  grid-column: 1/-1;
  text-align: center;
  align-self: center;
  font-size: 8rem;
}

.sort_todo_container {
  position: relative;
  grid-column: 2/-1;
  padding: 0 1rem;
  background-color: rgb(220, 220, 220);
  display: grid;
}
.sort_todo_container .sortToggle {
  grid-column: 1/-1;
  width: 20%;
  height: 3rem;
}
.sort_todo_container .toDo_container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.sort_todo_container .toDo_container .toDo_project_container {
  min-height: 4rem;
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(200, 200, 200);
}
.sort_todo_container .toDo_container .toDo_project_container_title {
  font-size: 3rem;
  font-weight: 300;
}

.addToDo_btn {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  padding: 2rem;
  background-color: rgb(174, 42, 46);
  font-size: 4rem;
  font-weight: 900;
  color: rgb(241, 242, 239);
  transition: all 0.2s ease;
}
.addToDo_btn:hover {
  transform: scale(1.2);
  border-radius: 0.5rem;
}

.toDo_element {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  cursor: pointer;
  gap: 0.5rem;
  transition: all 200ms ease;
}
.toDo_element .toDo_title {
  display: flex;
  align-items: center;
}
.toDo_element .toDo_title_arrow {
  font-weight: 900;
}
.toDo_element .todo_content.hideContent {
  display: none;
  transform: translate(-2rem);
}
.toDo_element .todo_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 3rem;
  margin-top: -0.7rem;
  transform: translate(0rem);
}
.toDo_element .todo_content p {
  grid-column: 1/-1;
}
.toDo_element .toDo_title_container {
  display: flex;
}
.toDo_element .toDo_title_container .toDo_title_arrow {
  display: inline-block;
  transition: transform 0.2s ease;
  margin-right: 1rem;
}
.toDo_element .toDo_title_container .toDo_title_arrow.expanded {
  transform: rotate(90deg);
}
.toDo_element .toDo_title_container .toDo_title {
  font-size: 2rem;
}
.toDo_element .toDo_edit_btn_img {
  width: 1.5rem;
  cursor: pointer;
  filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
}

.toDo_input {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  overflow: visible;
}
.toDo_input::before {
  content: "";
}
.toDo_input input,
.toDo_input textarea {
  grid-column: 1/-1;
}
.toDo_input .send_btn {
  background-color: rgb(174, 42, 46);
  color: rgb(241, 242, 239);
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  padding: 1rem;
  justify-self: start;
}
.toDo_input .cancel_btn {
  position: fixed;
  right: -3rem;
  top: -3rem;
  font-size: 2em;
  font-weight: 900;
  color: rgb(241, 242, 239);
}

.toDo_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  inset: 0;
  z-index: 50;
}

.sidebar {
  padding: 1rem;
  background-color: rgb(213, 216, 114);
}
.sidebar_projects_header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3rem;
  margin-bottom: 1rem;
}
.sidebar_projects_header h2 {
  justify-self: start;
  align-self: center;
}
.sidebar_projects_header .addProject_btn {
  justify-self: end;
  align-self: center;
  font-size: 2.5rem;
  font-weight: 900;
  transition: all 200ms ease;
  cursor: pointer;
}
.sidebar_projects_header .addProject_btn:hover {
  transform: scale(1.2);
}
.sidebar_projects_list {
  display: flex;
  flex-direction: column;
}
.sidebar_projects_list_element {
  display: flex;
  align-items: center;
  gap: 1rem;
}