@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

button,
li,
a {
  all: unset;
}

/* Color Theme Swatches in RGBA */
body {
  background-color: #fff;
  position: relative;
}

.container {
  position: relative;
  padding: 1rem;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto-fit 1fr;
  justify-content: center;
}

h1 {
  grid-column: 1/-1;
  text-align: center;
  align-self: center;
  font-size: 8rem;
}

.toDo_container {
  position: relative;
  grid-column: 2/-1;
  padding: 0 1rem;
  background-color: green;
}

.toDo_project_container {
  min-height: 4rem;
  padding: 1rem;
  margin: 1rem;
  background-color: aqua;
}

.toDo_edit_btn_img {
  width: 1rem;
  cursor: pointer;
  filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
}